.main_container{
    font-family: 'Arvo', serif;
    color: #1A5D1A;
    margin-top: 5rem;
    font-size: 4rem;
    word-spacing: 0.6rem;
}

.text_container{
    margin-top: 10rem;
}
.text_container_2{
    margin-top: 4rem;
}
